* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.outer {
  height: 100vh;
  width: 100vw;
  background-image: url(bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.inner {
  height: 85%;
  width: 90%;
  background-color: rgba(255, 0, 0, 0.252);
  backdrop-filter: blur(10px);
}
.h1 {
  color: white !important;
  text-align: center;
  margin-top: 20px !important;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-decoration: underline;
  word-spacing: 2px;
  letter-spacing: 1px;
  font-weight: 700 !important;
}
.custom-input {
  width: 80% !important;
  margin: auto !important;
  margin-top: 30px !important;
}
.range {
  margin-top: 40px;
}
h3 {
  color: white;
}
.cus {
  align-items: center !important;
  text-align: center !important;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center !important;
  background-color: rgba(255, 255, 0, 0.25);
  backdrop-filter: blur(10px);
}
h4 {
  margin-left: 10px !important;
}

.one {
  margin-top: 40px !important;
}
.oneSon {
  color: white;
}
